.App {
  display:flex;
  margin-top:100px;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.messageRow {
  margin:50px;
}

.optionLabel {
  align-items: flex-start;
  padding:20px;
  width:200px;
}

.holeOptions, .pegOptions {
  color:white;
  font-size: x-large;
  font-weight: bolder;
  margin:5px;
}
.holeOptions {
  background-color:rgb(113, 180, 122);
}
.pegOptions {
  background-color:cornflowerblue;
}

.hole-toggle, .peg-toggle {
  width:150px;
  color:white;
  font-size: x-large;
  margin:5px;
}

.hole-toggle{
  color:white;
}

.validColour, .invalidColour{
  font-size: x-large;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.validColour{
  color: darkgreen;
}

.invalidColour{
  color:crimson;
}

.btn {
  font-size: 2rem !important;
  color:white;
}